#back-top {
    opacity: 0;
    transition: 1s;
}
#back-top.active {
    opacity: 1;
    transition: 1s;
}
#back-top a {
    background-color: var(--midblue);
    color: var(--white);
    padding: 1rem;
    display: inline-block;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}