.btns-header {
    grid-column: 2;
}

.btns-header a {
    display: inline-block;
    width: 164px;
    height: 3.5rem;
    line-height: 3.4rem;
    border-radius: 29px;
    border: 2px solid var(--white);
    font-size: 1.1rem;
    text-align: center;
}
.btns-header a:first-child{
    margin-right: 20px;
    background-color: transparent;
    color: var(--white);
}
.btns-header a:last-child{
    background-color: var(--white);
    color: var(--midblue);
}