#social-topo {
    margin-top: 0;
}
#social-topo ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    height: 46px;
    padding-top: 34px;
}

#social-topo li {
    opacity: 0;
    transform: translateY(-100%);
    animation: fall-icons .75s forwards;
}
#social-topo li:nth-child(1) {
    animation-delay: .25s;
}
#social-topo li:nth-child(2) {
    animation-delay: .5s;
}
#social-topo li:nth-child(3) {
    animation-delay: .75s;
}
#social-topo li:nth-child(4) {
    animation-delay: 1s;
}

@media (max-width: 800px){
    #social-topo{
        position: relative;
        z-index: 1;
    }
    #social-topo ul {
        justify-content: center;
        padding-top: 1rem
    }

    #social-topo ul a {
        background-color: var(--midblue);
        display: flex;
        margin: .25rem;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    #social-topo ul img {
        width: 32px;
    }
}

@keyframes fall-icons {
    from{
        opacity: 0;
        transform: translateY(-200%);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}