footer {
    background-color: var(--lightgrey);
    padding: .5rem 0;
}

footer article{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer article > ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

footer article ul li{
    line-height: 2rem;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
}

/* footer article > ul strong {
    width: 200px;
    display: inline-block;
} */

@media (max-width: 800px){
    footer{
        text-align: center;
    }
    footer article{
        grid-template-columns: 1fr;
    }

    footer article > ul li {
        grid-template-columns: 1fr;
    }

    footer nav ul {
        margin-top: 1rem;        
        justify-content: center;
    }
}