:root{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  --darkblue: #2B6DDB;
  --midblue: #28a5e7;
  --lightblue: #24D8F2;
  --white: #ffffff;
  --grey: #444444;
  --lightgrey: #eeeeee;
  --green: #23E89B;
  --violet: #9E23EB;
  color: var(--grey);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.85rem;
}

ul {
  list-style: none;
}

a{
  color: var(--grey);
  text-decoration: none;
}
h2{
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
.container{
  max-width: 1084px;
  margin: 80px auto;
  padding: 0 2rem;
}

/* Scroll Animation */

[data-scroll="anima"]{
  opacity: 0;
  transform: translateX(-50%);
}
[data-scroll="anima"].active{
  animation: to-right .75s cubic-bezier(.75,.01,.55,1.35) forwards;
}
[data-scroll="anima-up"]{
  opacity: 0;
  transform: translateY(100%);
}
[data-scroll="anima-up"].active{
  animation: to-top .75s cubic-bezier(.75,.01,.55,1.35) forwards;
}

@keyframes to-right {
  from{
      opacity: 0;
      transform: translateX(-50%);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes to-top {
  from{
      opacity: 0;
      transform: translateY(100%);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}
